<div class="profile">
  <a href="/main" class="btn btn-warning pe-5 ps-5">Volver</a>
  <h1 class="profile__title">Perfil</h1>
  <div class="profile__info">
    <label class="profile__info-label">Email:</label>
    <span class="profile__info-value">{{email}}</span>
  </div>
  <div class="profile__info">
    <label class="profile__info-label">Nombre:</label>
    <span class="profile__info-value">{{name}}</span>
  </div>
  <div class="profile__info">
    <label class="profile__info-label">Dirección:</label>
    <span class="profile__info-value">{{address}}</span>
  </div>
  <div class="profile__info">
    <label class="profile__info-label">Edad:</label>
    <span class="profile__info-value">{{age}}</span>
  </div>
  <div class="profile__info">
    <label class="profile__info-label">Teléfono:</label>
    <span class="profile__info-value">{{phone}}</span>
  </div>
  <div class="profile__photo">
    <img class="profile__photo-image" src={{photo}} alt="" width="250" height="250" />
  </div>
</div>